################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/gspstool.exe
/build/gspstool_x64.exe
